.banner__top{
    position: relative;
    background-color: #000;
    .banner__top__link{

        .banner__top__img{
            width: 100%;
        }
    }
}


.quick__access{
    background-color: #0f0004;  
    display: flex;
    justify-content: center;  
    padding: 15px 0;

    .access__element {
        width: 140px;
        height: 40px;

        .access__item {

            align-items: center;
            border-radius: 40px;
            background-color: #fff;
            justify-content: center;
            display: flex;
            height: 100%;
            margin: 0 10px;
            padding: 5px 20px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.menu__nav{
    left: 0;
    top: 0;
    z-index: 9;
    right: 0;
    height: 100px;
    background-color: #0f0004;  
    padding-top: 10px;

    .menu__container{
        display: grid;
        grid-auto-rows: minmax(min-content,max-content);
        grid-template-columns: repeat(6,minmax(0,1fr));
        width: 55%;
        margin: auto;

        .nav__item{
            width: auto;
            text-align: center;
            i{
                font-size: 40px;
            }

            .nav__icon{
                background-color: #fff;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                color: black !important;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                margin-bottom: 5px;
            }
            .nav__icon:hover{
                background-color: yellow;
            }
        }
        .menu__element__title{
            color: #fff;
            font-size: 16px;
            text-align: center;
        }
    }
}


.deal__container{
    background-color: #fb6e2e;
    width: 90%;
    margin: 0 5%;
    margin-top: 30px;

    .deal__title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fb6e2e !important;
        background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/smartwatch/bg_deal01.png),url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/smartwatch/bg_deal02.png);
        background-position: top right,bottom left;
        background-size: 369px 350px;
        background-repeat: no-repeat;
        padding: 15px 10px 10px;
    
        .deal__link{
            align-items: center;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            font-size: 45px;
            font-weight: 600;

            .first__content{
                margin-right: 5px;
                color: #fff;
            }

            .second__content{
                color: #ffe500;
            }
        }
    }

    .show__deal{ 
        display: flex;
        padding-bottom: 40px;
        margin: 0 10px;
    
        p{
            margin-bottom: 0 !important;
        }
    
        .list__product{
            width: 100%;
            display: grid;
            grid-auto-rows: minmax(min-content,max-content);
            grid-template-columns: repeat(5,minmax(0, 1fr));
    
            .list__item{
                border: 3px solid #fb6e2e;
                background-color: #fff;
                min-height: 600px;
                height: fit-content;
                padding: 5px;
    
                .item__container{
    
                    .item__label{
                        
                        .label__content{
                            background-color: #fff;
                            border-radius: 3px;
                            font-size: 11px;
                            display: flex;
                            align-items: center;
                            padding: 2px;
                            width: fit-content;
                        }
                    }
    
                    .item__content{
                        height: 225px;
                        position: relative;
                        margin: 10px 0;
                        display: block;
    
                        .item__element{
                            width: 100%;
                            height: 100%;                       
                        }
                        
                        img{
                            transition: all 300ms ease-in-out;
                        }
                    }
    
                    h3{
                        display: -webkit-box;
                        line-height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 5px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    
                    .product__group{
    
                        .product__memory{
    
                            .memory__item__isActive{
                                border: 1px solid #2f80ed;
                            }
    
                            .memory__item{
                                width: max-content;
                                height: max-content;
                                padding: 5px !important;
                                border: 1px solid #e0e0e0 !important;
                                border-radius: 2px;
                                color: #333;
                                display: inline-flex !important;
                                line-height: 16px;
                                margin-bottom: 5px;
                                margin-right: 4px;
                            }
                        }
                    }
    
                    .box__old__price{
    
                        .old__price{
                            color: #666;
                            display: inline-block;
                            line-height: 17px;
                            text-decoration-line: line-through;
                        }
    
                        .discount__percent{
                            color: #333;
                            display: inline-block;
                            line-height: 17px;
                        }
                    }
    
                    .new__price{
                        color: #222;
                        display: block;
                        font-size: 16px;
                        line-height: 18px;
                        margin: 5px auto;
                    }
    
                    .rating{
                        margin-bottom: 5px;
                        display: flex;
    
                        .star__rating{
                            font-size: 16px;
                            display: flex;
                            
                            .star{
                                color: orangered;
                                background-position: -205px -60px; 
                            }
    
                            .star__dark{
                                color: grey;
                                background-position: -225px -60px; 
                            }
                        }
    
                        .total__rating{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #333;
                            font-size: 12px;
                            
                        }
                    }
                }
            }
        }
    }
    
}


.deal__slide__container{
    background-color: #fff;
    margin: 0 5%;
    width: 90%;
    margin-top: 30px;

    div{
        margin: 0;
    }

    .show__slide__item{
        width: 100% !important;
        background-color: #fff;

        .show__slide__container{

            .show__slide__content{


                .show__slide__element{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


.banner__fashion, .banner__utility, .banner__sport, .banner__children, .banner__accessory{
    margin-top: 30px;
    // padding-bottom: 80px;

    .block__banner{
        margin: 0 5%;

        .banner__link{

            .banner__img{

                width: 100%;
                height: 100%;
            }
        }
    }

    .list__item__block{
        margin: 0 5%;
        width: 90%;

        .list__product{
            width: 100%;
            display: grid;
            grid-auto-rows: minmax(min-content,max-content);
            grid-template-columns: repeat(5,minmax(0, 1fr));
    
            .list__item{
                background-color: #fff;
                min-height: 600px;
                height: fit-content;
                padding: 5px;
                border: 3px solid #e0e0e0;
    
                .item__container{
    
                    .item__label{
                        
                        .label__content{
                            background-color: #fff;
                            border-radius: 3px;
                            font-size: 11px;
                            display: flex;
                            align-items: center;
                            padding: 2px;
                            width: fit-content;
                        }
                    }
    
                    .item__content{
                        height: 225px;
                        position: relative;
                        margin: 10px 0;
                        display: block;
    
                        .item__element{
                            width: 100%;
                            height: 100%;                       
                        }
                        
                        img{
                            transition: all 300ms ease-in-out;
                        }
                    }
    
                    h3{
                        display: -webkit-box;
                        line-height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 5px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    
                    .product__group{
    
                        .product__memory{
    
                            .memory__item__isActive{
                                border: 1px solid #2f80ed;
                            }
    
                            .memory__item{
                                width: max-content;
                                height: max-content;
                                padding: 5px !important;
                                border: 1px solid #e0e0e0 !important;
                                border-radius: 2px;
                                color: #333;
                                display: inline-flex !important;
                                line-height: 16px;
                                margin-bottom: 5px;
                                margin-right: 4px;
                            }
                        }
                    }
    
                    .box__old__price{
    
                        .old__price{
                            color: #666;
                            display: inline-block;
                            line-height: 17px;
                            text-decoration-line: line-through;
                        }
    
                        .discount__percent{
                            color: #333;
                            display: inline-block;
                            line-height: 17px;
                        }
                    }
    
                    .new__price{
                        color: #222;
                        display: block;
                        font-size: 16px;
                        line-height: 18px;
                        margin: 5px auto;
                    }
    
                    .rating{
                        margin-bottom: 5px;
                        display: flex;
    
                        .star__rating{
                            font-size: 16px;
                            display: flex;
                            
                            .star{
                                color: orangered;
                                background-position: -205px -60px; 
                            }
    
                            .star__dark{
                                color: grey;
                                background-position: -225px -60px; 
                            }
                        }
    
                        .total__rating{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #333;
                            font-size: 12px;
                            
                        }
                    }
                }
            }
        }
    }
}


.banner__fashion{
    .brand__discount{
        background: linear-gradient(to right,#ef3006,#c60004);
    }
}

.banner__utility{
    .brand__discount{
        background: linear-gradient(to right,#faab08,#d42611);
    }
}

.banner__sport{
    .brand__discount{
        background: linear-gradient(to right,#af63cf,#3327a7);
    }
}

