//scss of slider

.product__slider{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    display: flex;
    img{
        width: 100%;
        height: 100%;
    }

    .left__slider{
        width: 59%;
        height: 100%;
        margin: 15px 0 15px 5%;

        div{
            margin: 0;
        }

        ul{
            top: 170px !important;
        }

        .container_img{
            margin: 0;
            padding: 0;
        }

    }

    .right__slider{
        width: 40%;
        margin: 15px 5% 0 1.5%;
        display: grid;
        max-height: 200px;
        margin-left: 10px;
        align-content: space-between;
        overflow: hidden;
        cursor: pointer;
            
        .suggest__item__top{

            .img__top{
                height: 90%;
                width: 100%;
            }
        }
        .suggest__item__bot{

            .img__bot{
                height: 90%;
                width: 100%;
            }
        }
    }
}


//scss of show products

.show__all__products{  
    margin: 0 5%;
    width: 90%; 
    display: flex;

    p{
        margin-bottom: 0 !important;
    }

    .list__product{
        width: 100%;
        display: grid;
        grid-auto-rows: minmax(min-content,max-content);
        grid-template-columns: repeat(5,minmax(0, 1fr));
        border-left: 10px solid #e0e0e0;
        border-top: 10px solid #e0e0e0;

        .list__item{
            height: 450px;
            border-bottom: 10px solid #e0e0e0 !important; //#f3f3f3
            border-right: 10px solid #e0e0e0 !important;
            padding: 5px;

            .item__container{

                .item__label{
                    
                    .label__content{
                        background-color: #fff;
                        border-radius: 3px;
                        font-size: 11px;
                        display: flex;
                        align-items: center;
                        padding: 2px;
                        width: fit-content;
                    }
                }

                .item__content{
                    height: 225px;
                    position: relative;
                    margin: 10px 0;
                    display: block;

                    .item__element{
                        width: 100%;
                        height: 100%;                       
                    }
                    
                    img{
                        transition: all 300ms ease-in-out;
                    }
                }

                h3{
                    display: -webkit-box;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 5px;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                
                .product__group{

                    .product__memory{

                        .memory__item{
                            width: auto; //fit content
                            height: auto; //fit content
                            padding: 5px 8px !important;
                            border: 1px solid #e0e0e0 !important;
                            border-radius: 2px;
                            color: #333;
                            display: inline-flex !important;
                            font-size: 12px;
                            line-height: 16px;
                            margin-bottom: 5px;
                            margin-right: 4px;
                        }
                    }
                }

                .box__old__price{

                    .old__price{
                        color: #666;
                        display: inline-block;
                        line-height: 17px;
                        text-decoration-line: line-through;
                    }

                    .discount__percent{
                        color: #333;
                        display: inline-block;
                        line-height: 17px;
                    }
                }

                .new__price{
                    color: #222;
                    display: block;
                    font-size: 16px;
                    line-height: 18px;
                    margin: 5px auto;
                }

                .rating{
                    margin-bottom: 5px;
                    display: flex;

                    .star__rating{
                        font-size: 16px;
                        display: flex;
                        
                        .star{
                            color: orangered;
                            background-position: -205px -60px; 
                        }

                        .star__dark{
                            color: grey;
                            background-position: -225px -60px; 
                        }
                    }

                    .total__rating{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #333;
                        font-size: 12px;
                        
                    }
                }
            }
        }
    }
}


.session__filter{
    margin: 0 5%;
    position: relative;
    cursor: pointer;

    .filter__total__container{
        display: flex;
        position: relative;
        // font-size: 0;
        padding-top: 10px;

        .filter__visible{
            display: block;
        }

        .filter__hidden{
            display: none;
        }

        .filter__total{
            display: inline-block;
            font-size: 14px;
            line-height: 17px;
            margin-right: 8px;
            position: relative;
            padding-bottom: 10px;

            .filter__total__title{
                display: flex;
                width: max-content;
                background-color: #fff;
                border: 1px solid #e0e0e0;
                border-radius: 4px;
                cursor: pointer;
                padding: 8px 10px;

                i{
                    margin-right: 5px;
                }

                .fa-filter{
                    background-position: -285px 0;
                    height: 14px;
                    width: 11px;
                }

                .number__total{
                    background-color: #f89406;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 10px;
                    height: 16px;
                    line-height: 16px;
                    position: absolute;
                    top: -8px;
                    text-align: center;
                    right: 5px;
                    width: 16px;
                    display: none;
                }
            }

            .show__total__isActive{
                // display: none;
                background-color: #fff;
                box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
                border-radius: 4px;
                min-width: 382px;
                left: 0;
                position: absolute;
                top: 45px;
                white-space: normal;
                z-index: 3;
                overflow-y: auto;
                padding: 0;
                width: 900px;
                max-width: 900px;
                max-height: 80vh;

                .list__filter__active{
                    padding: 10px 90px 0 20px;
                    margin-top: 10px;
                    display: none;

                    div{
                        display: inline;
                    }

                    .clear__filter{
                        display: none;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .show__total__main{
                    display: flex;
                    flex-wrap: wrap;
                    height: auto;
                    padding: 15px 0 10px;

                    .close__popup{
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        background-color: #fff;
                        border: 1px solid #e0e0e0;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 8px 10px;
                        color: #000;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i{
                            margin-right: 5px;
                            background-position: -40px -75px;
                            height: 14px !important;
                            width: 14px !important;
                        }
                    }

                    .wrapper__manu__inside{
                        width: 100%;
                        clear: both;
                        max-width: unset;
                        float: left;
                        padding: 10px 20px;

                        .show__total__txt{
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 18px;
                            margin-bottom: 5px;
                        }

                        .filter__list__filter__manu{
                            max-height: unset;
                            overflow: unset;
                            overflow-y: unset;
                            padding-bottom: 0;
                            margin: 0 -4px;
                            display: flex;
                            flex-wrap: wrap;

                            .btn__box{
                                margin: 0 7px 7px 0;
                                padding: 4px;
                                width: 99px;
                                align-items: center;
                                border: 1px solid #e0e0e0;
                                border-radius: 4px;
                                color: #333;
                                display: flex;
                                justify-content: center;

                                img{
                                    width: 100%;
                                    height: 30px;
                                    max-width: 98%;
                                    max-height: 25px;
                                    object-fit: contain;
                                    justify-content: center;
                                }
                            }
                        }
                        .filter__list__filter__manu::after{
                            content: "";
                            display: block;
                            clear: both;
                        }
                    }

                    .filter__border{
                        border-top: 1px solid #e0e0e0;
                        width: 100%;
                    }

                    .count__item{
                        width: auto;    
                        float: left;
                        max-width: 33%;
                        padding: 10px 20px;
                        .show__total__txt{
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 18px;
                            margin-bottom: 5px;
                        }

                        .filter__list{
                            display: flex;
                            flex-wrap: wrap;

                            .btn__box{
                                margin: 0 7px 7px 0;
                                padding: 8px 9px;
                                align-items: center;
                                border: 1px solid #e0e0e0;
                                border-radius: 4px;
                                color: #333;
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        
        .arrow__filter::before{
            content: "";
            position: absolute;
            width: 27px;
            height: 27px;
            background: #fff;
            transform: rotate(45deg);
            top: 40px;
            left: 27px;
            box-shadow: -2px -2px 5px -4px;
        }


        .filter__item__show{
            display: inline-block;
            font-size: 14px;
            // width: 547px;
            line-height: 17px;
            margin-right: 8px;
            position: relative;
            padding-bottom: 10px;
            
            .filter__item__title{
                display: flex;
                width: max-content;
                background-color: #fff;
                border: 1px solid #e0e0e0;
                border-radius: 4px;
                cursor: pointer;
                padding: 8px 10px;

                span{
                    padding-right: 12px;
                    position: relative;
                }

                span::before{
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid #333;
                    content: '';
                    position: absolute;
                    top: 6px;
                    right: 0;
                }
            }

            .filter__item__show__element{
                background-color: #fff;
                border-radius: 4px;
                max-width: 600px;
                min-width: 382px;
                left: 0;
                position: absolute;
                padding: 10px;
                top: 45px;
                width: max-content;
                z-index: 3;
                
                .filter__list__element{
                    display: flex;
                    flex-wrap: wrap;                  

                    .btn__box{
                        align-items: center;
                        border: 1px solid #e0e0e0;
                        border-radius: 4px;
                        color: #333;
                        display: flex;
                        justify-content: center;
                        margin: 0 5px 5px 0;
                        padding: 8px;
                    }
                }
                .filter__list__manu{
                    display: flex;
                    flex-wrap: wrap;                  

                    .btn__box{
                        align-items: center;
                        border: 1px solid #e0e0e0;
                        border-radius: 4px;
                        color: #333;
                        display: flex;
                        justify-content: center;
                        margin: 0 5px 5px 0;
                        width: 99px;
                        padding: 4px;

                        img{
                            width: 100%;
                            height: 30px;
                            max-width: 98%;
                            max-height: 25px;
                            object-fit: contain;
                            justify-content: center;
                        }
                    }
                }

                .filter__btn{
                    // font-size: 0;
                    text-align: center;
                    display: none;
                }
            }
        }
    }

    .quick__filter{
        margin-top: 15px;
        display: grid;
        grid-auto-rows: minmax(min-content,max-content);
        grid-template-columns: repeat(9,minmax(0, 1fr));
        row-gap: 8px;

        .logo__phone{
            display: flex;
            border-radius: 30px;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            margin-right: 10px;  
        }
        .logo__phone__manu{
            
            :hover{
                border-radius: 30px;
                border: 1px solid #288ad6;
            }

            img{
                padding: 4px 12px;
                width: 100%;
                height: 100%;
            }
        } 
    }
}

.sort__container{
    margin: 0 5%;
    padding: 10px 0;
    display: flex;
    align-items: center;

    p{
        margin-bottom: 0 !important;
    }

    .checkbox__sort{
        width: 50%;
        margin-left: 30px;
        align-items: baseline;
        display: flex;
        
        .box__fast__delivery{
            background-color: #d7e4dc;
            display: flex;
            align-items: center;
            margin-left: 20px;
            border-radius: 5px;
            padding: 0 5px;


            .fast__delivery{
                display: flex;
                justify-items: center;
                color: green;
                padding: 5px;
                font-style: italic !important;

                .icon__thunder{
                    font-size: 15px !important;
                    font-style: italic !important;
                }
                .input__box{
                    width: 16px;
                    height: 16px;
                }
                .title__form{
                    font-style: italic !important;
                    text-transform: uppercase !important;
                }
            }

        }
        
        .box__sort{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            border-radius: 5px;

            .sort__element{
                display: flex;
                align-items: center;
                padding: 5px;
                color: black !important;
                
                .input__element{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .select__sort{
        right: -27.5%;
        cursor: pointer;
        position: relative;
        background-color: #fff;

        .sort__content{
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            cursor: pointer;
            line-height: 12px;
            padding: 6px 10px 6px 8px;

            .sort__show{
                padding-right: 12px;
                position: relative;
            }

            .sort__show::before{
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid #333;
                content: '';
                position: absolute;
                top: 6px;
                right: 0;
            }
        }

        .sort__select__main{
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
            position: absolute;
            padding: 0 7px;
            top: 30px;
            right: 0;
            width: 180px;
            z-index: 2;

            p{
                border-bottom: 1px solid #f1f1f1;
            
                a{
                    color: #000;
                    font-size: 14px;
                    line-height: 17px;
                    padding: 11px 3px;
                    display: block;

                    i{
                        box-sizing: border-box;
                        position: relative;
                        display: inline-block;
                        transform: scale(var(--ggs,1));
                        width: 22px;
                        height: 16px;
                        border: 2px solid transparent;
                        border-radius: 100px;
                        vertical-align: middle;
                    }
                }
            }
        }

        .sort__visible{
            display: block;
        }

        .sort__hidden{
            display: none;
        }
    }
}