.session-category{
    height: fit-content; // or 1500px
    margin: 0 5%;
    // background-color: orange;
    // display: flex;
    
    .sort-container{
        // background-color: green;
        display: flex;
        width: 100%;
        height: 50px;
        align-items: baseline;

        .checkbox-sort{
            display: flex;
            
            .box-fast-delivery{
                background-color: #d7e4dc;
                display: flex;
                align-items: center;
                margin-left: 20px;
                border-radius: 5px;
                padding: 5px 10px;

                a{
                    color: green;
                    font-style: italic;
                }

                input{
                    width: 16px;
                    height: 16px;
                }

                .fast-delivery{
                    display: flex;
                    justify-items: center;

                    .fas{
                        font-size: 15px !important;
                        font-style: italic !important;
                    }
                }

            }
            
            .box-discount, .box-installment, .box-unique, .box-new{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                // background-color: #fff;
                border-radius: 5px;

                input{
                    width: 16px;
                    height: 16px;
                }

                .discount, .installment, .unique, .new{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    color: black !important;
                }
            }
        }

        .select-sort{
            display: flex;
            // background-color: #fff;
            border: 1px solid #e2e2e2;
            padding: 5px 10px;
            border-radius: 5px;
            position: absolute;
            right: 8%;
            cursor: pointer;

        }
    }
}