.main__container {
    .product-slider {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: relative;
        margin: auto;
        display: flex;
        //cursor: pointer;

        .left-slider {
            width: 60%;
            height: 100%;
            margin: 15px 0 15px 5%;

            .slick-slide img {
                margin: auto;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            .slick-prev {
                border: 1px solid #d6d6d6 !important;
                // position: relative !important;
                left: 7px !important;
                z-index: 1000 !important;
                width: 30px !important;
                height: 65px !important;
                border-radius: 3px !important;
                background: #e2e2e2 !important; //#d7d7d7

                &:hover {
                    background: #fff !important;
                }
            }

            .slick-prev:before,
            .slick-next:before {
                //content: "<" !important;
                color: green;
                transform: rotate(-135deg);
            }

            .slick-next {
                border: 1px solid #e2e2e2 !important;
                right: 7px !important;
                width: 30px !important;
                height: 65px !important;
                border-radius: 3px !important;
                background: #d6d6d6 !important;

                &:hover {
                    background: #fff !important;
                }
            }

            .slick-dots {
                top: 210px !important;
            }

            .slick-dots li.slick-active button:before {
                color: orange !important;
            }

            .slick-dots li button:before {
                color: white;
            }

            .container-img {
                height: 240px;
                border: 1px solid blue;
            }
        }

        .right-slider {
            width: 40%;
            height: 100%;
            margin: 15px 5% 0 10px;
            display: table;
            cursor: pointer;

            .suggest-item-top {
                height: 126px;

                .img-top {
                    height: 90%;
                    width: 100%;
                }
            }
            .suggest-item-bot {
                height: 126px;

                .img-bot {
                    height: 90%;
                    width: 100%;
                }
            }
        }
    }

    .session-filter {
        height: 110px;
        margin: 0 5%;
        background-color: lightgreen;

        .filter-item {
            display: flex;

            .filter,
            .manufacturer,
            .price,
            .type-of-products,
            .performance-battery,
            .ram,
            .internal-memory,
            .camera,
            .special-features,
            .design,
            .screen {
                width: fit-content;
                height: fit-content;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                margin-right: 10px;
            }
        }

        .quick-access-brand {
            margin-top: 15px;
            display: flex;

            .logo-iphone,
            .logo-samsung,
            .logo-oppo,
            .logo-xiaomi,
            .logo-vivo,
            .logo-realme,
            .logo-nokia,
            .logo-itel,
            .logo-masstel {
                display: flex;
                border-radius: 30px;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border: 1px solid yellow;
                width: fit-content;
                height: fit-content;
                margin-right: 10px;
            }
            .iPhone,
            .samsung,
            .oppo,
            .xiaomi,
            .vivo,
            .realme,
            .nokia,
            .itel,
            .masstel {
                padding: 3px 17px;

                img {
                    width: 85px;
                    height: 25px;
                }
            }
        }
    }

    .session-category {
        height: 500px;
        margin: 0 5%;
        background-color: orange;
        // display: flex;

        .sort-container {
            background-color: green;
            display: flex;
            width: 100%;
            height: 50px;
            align-items: baseline;

            .checkbox-sort {
                display: flex;

                .box-fast-delivery,
                .box-discount,
                .box-installment,
                .box-unique,
                .box-new {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    height: fit-content;
                    margin-left: 20px;
                    background-color: #fff;
                    border-radius: 5px;

                    input {
                        width: 15px;
                        height: 15px;
                    }
                    i {
                        font-size: 17px;
                    }

                    .fast-delivery,
                    .discount,
                    .installment,
                    .unique,
                    .new {
                        padding: 5px;
                    }
                }
            }

            .select-sort {
                display: flex;
                background-color: #fff;
                padding: 5px;
                border-radius: 5px;
                position: absolute;
                right: 8%;
            }
        }
    }
}
