
.main__container{
    background-color: lightblue;
    .product-slider{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: relative;
        margin: auto;
        display: flex;
        //cursor: pointer;

        .left-slider{
            width: 60%;
            height: 100%;
            margin: 15px 0 15px 5%;

                    
        
            .slick-slide img {
                margin: auto;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            .slick-prev{
                border: 1px solid #d6d6d6 !important;
                // position: relative !important;
                left: 7px !important;
                z-index: 1000 !important;
                width: 30px !important;
                height: 65px !important;
                border-radius: 3px !important;
                background: #e2e2e2 !important; //#d7d7d7

                &:hover{
                    background: #fff !important;
                }
            }

            .slick-prev:before, .slick-next:before {
                //content: "<" !important;
                color: green;
                transform: rotate(-135deg);
            }

            .slick-next{
                border: 1px solid #e2e2e2 !important;
                right: 7px !important;
                width: 30px !important;
                height: 65px !important;
                border-radius: 3px !important;
                background: #d6d6d6 !important;

                &:hover{
                    background: #fff !important;
                }
            }

            .slick-dots{
                top: 210px !important;
            }

            .slick-dots li.slick-active button:before {
                color: orange !important;
            }

            .slick-dots li button:before {
                color: white;
            }

            .container-img{
                height: 240px;
                border: 1px solid blue;
            }
        }
    
        .right-slider{
            width: 40%;
            height: 100%;
            margin: 15px 5% 0 10px;
            display: table;
            cursor: pointer;
                
            .suggest-item-top{
                height: 126px;

                .img-top{
                    height: 90%;
                    width: 100%;
                }
            }
            .suggest-item-bot{
                height: 126px;

                .img-bot{
                    height: 90%;
                    width: 100%;
                }
            }
        }
    }

    .session-filter{
        height: 110px;
        margin: 0 5%;
        background-color: lightgreen;
        cursor: pointer;

        .filter-item{
            display: flex;


            .filter, .manufacturer, .price, .type-of-products, .performance-battery, .ram,
            .internal-memory, .camera, .special-features, .design, .screen{
                padding: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                margin-right: 10px;
            }
        }

        .quick-access-brand{
            margin-top: 15px;
            display: flex;
            
            .logo-iphone, .logo-samsung, .logo-oppo, .logo-xiaomi, .logo-vivo, 
            .logo-realme, .logo-nokia, .logo-itel, .logo-masstel{
                display: flex;
                border-radius: 30px;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border: 1px solid yellow;
                margin-right: 10px;    
            }
            .iPhone, .samsung, .oppo, .xiaomi, .vivo, .realme, .nokia, .itel, .masstel{
                padding: 3px 17px;

                img{
                    width: 85px;
                    height: 25px;
                }
            } 
        }
    }

    .session-category{
        height: fit-content; // or 1500px
        margin: 0 5%;
        background-color: orange;
        // display: flex;
        
        .sort-container{
            background-color: green;
            display: flex;
            width: 100%;
            height: 50px;
            align-items: baseline;

            .checkbox-sort{
                display: flex;
                
                .box-fast-delivery, .box-discount, .box-installment, .box-unique, .box-new{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
                    background-color: #fff;
                    border-radius: 5px;

                    input{
                        width: 15px;
                        height: 15px;
                    }
                    i{
                        font-size: 17px;
                    }

                    .fast-delivery, .discount, .installment, .unique, .new{
                        padding: 5px;
                    }
                }
            }

            .select-sort{
                display: flex;
                background-color: #fff;
                padding: 5px;
                border-radius: 5px;
                position: absolute;
                right: 8%;

            }
        }

        .show-all-products{
            background-color: gray;
            display: flex;

            .list-product{
                width: 100%;
                display: grid;
                grid-auto-rows: minmax(min-content,max-content);
                grid-template-columns: repeat(5,minmax(0, 1fr));
                border-left: 1px solid blue; //#f1f1f1
                border-top: 1px solid blue;

                li{
                    height: 450px;
                    border-bottom: 1px solid yellow !important; //#f3f3f3
                    border-right: 1px solid yellow !important;
                    padding: 5px;
                }

                .list-item{

                    .item-container{

                        .item-label{
                            
                            .label-content{
                                background-color: #fff;
                                border-radius: 3px;
                                font-size: 11px;
                                display: flex;
                                align-items: center;
                                padding: 2px;
                                width: fit-content;
                            }
                        }

                        .item-content{
                            height: 225px;
                            position: relative;
                            margin: 10px 0;
                            display: block;

                            .item-element{
                                height: 100%;
                                // position: relative;
                                // margin: 10px 0;
                                // display: block;
                                // overflow: hidden;
                            }
                            
                            img{
                                transition: all 300ms ease-in-out;
                            }
                        }

                        h3{
                            display: -webkit-box;
                            color:#fff;
                            line-height: 20px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-bottom: 5px;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }
                        
                        .product-group{

                            .product-memory{

                                .memory-item{
                                    width: auto; //fit content
                                    height: auto; //fit content
                                    padding: 5px 8px !important;
                                    border: 1px solid #e0e0e0 !important;
                                    border-radius: 2px;
                                    color: white; //#333
                                    display: inline-flex !important;
                                    font-size: 12px;
                                    line-height: 16px;
                                    margin-bottom: 5px;
                                    margin-right: 4px;
                                }
                            }
                        }

                        .box-old-price{

                            .old-price{
                                color: white; //#666
                                display: inline-block;
                                line-height: 17px;
                                text-decoration-line: line-through;
                            }

                            .discount-percent{
                                color: white; //#333
                                display: inline-block;
                                line-height: 17px;
                            }
                        }

                        .new-price{
                            color: white; //#222
                            display: block;
                            font-size: 16px;
                            line-height: 18px;
                            margin: 5px auto;
                        }

                        .rating{
                            margin-bottom: 5px;
                            display: flex;
                            background-color: darkgray;

                            .star-rating{
                                font-size: 16px;
                                display: flex;
                                
                                .star{
                                    color: yellow;
                                    background-position: -205px -60px; 
                                }

                                .star-dark{
                                    background-position: -225px -60px; 
                                }
                            }

                            .total-rating{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: white; //#333
                                font-size: 12px;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}