.title__head {
    line-height: normal;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
    margin-left: 470px;
}

.ant-form {
    margin-left: 280px;
    width: 70%;
}
@import '~antd/dist/antd.css';
