.ant-form {
    width: 70%;
}
@import '~antd/dist/antd.css';

.title__head {
    line-height: normal;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
}
.product__data {
    margin: auto;
    width: 95%;
    padding: auto;
}
