.manufacturer-container{
    background-color: lightblue;  //#e0e0e0;
    display: flex;
    margin: auto 5%;
    justify-content: center;    
    border-radius: 12px;
    padding: 15px 0;
    margin-bottom: 20px;

    .manufacturer-content{
        display: grid;
        grid-auto-rows: minmax(min-content,max-content);
        grid-template-columns: repeat(8,minmax(0,1fr));
        width: 92%;
        margin: auto;
        gap: 20px;

        .logo-macbook, .logo-asus, .logo-hp, .logo-lenovo, .logo-acer,
        .logo-dell, .logo-msi, .logo-surface, .logo-LG, .logo-gigabyte, 
        .logo-intel, .logo-chuwi, .logo-lapItel {
            width: fit-content;
            height: fit-content;
            border-radius: 70px;
            padding: 3px 17px;
            background-color: #fff;
    
            .Mac, .Asus, .HP, .Lenovo, .Acer, .Dell, .MSI, 
            .Surface, .LG, .Gigabyte, .Intel, .Chuwi, .lap-itel {
    
                img{
                    width: 90px;
                    height: 25px;
                }
            }
        }
    }
}